 <div class="card-copy">
      <span>since Jan 1, 2000 </span>
    
  
  <!--   <ol ng-switch-when='crimes'>
        <li ng-repeat='item in $ctrl.cards.data | limitTo: 5'>{{item.Category}} ({{item.arrest_count}} arrests)</li>
      </ol>
      <ol ng-switch-when='players'>
        <li ng-repeat='item in card.data | limitTo: 5'> {{item.Position}}, {{item.Name}}, {{item.arrest_count}} arrests ({{item.Team}})</li>
      </ol>
      <ol ng-switch-when='teams'>
        <li ng-repeat='item in card.data | limitTo: 5'>
       {{item.Team_name}} ({{item.arrest_count}} arrests)</li>
      </ol>
      <ol ng-switch-when='positions'>
        <li ng-repeat='item in card.data | limitTo: 5'>{{item.Position}} ({{item.arrest_count}} arrests)</li>
      </ol> -->
    </div>
    