<!-- <div>
  <pre>{{$ctrl.crimes | json}}</pre>
<div class='flex-container'>
  <div ng-repeat='item in $ctrl.crimes track by $index'>
    {{item.Category}} 
  </div>
</div>

  <crimes-chart class='crimes-chart' options='$ctrl.options' data='$ctrl.list'></crimes-chart>
</div> -->
<!-- <frequency-timeline options='$ctrl.timelineOptions' data='$ctrl.timeline'></frequency-timeline> -->

<div class='flex-container'>
 <div class="left" ng-repeat='item in $ctrl.crimes track by $index'>{{item.Category}}</div>
</div>