<div class="cards ng-cloak">
  <div class="card" ng-repeat='card in $ctrl.cards track by $index'>
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      <ul>
        <li>{{card.title}}</li> 
        <li class='view-more' ui-sref='{{card.link}}'>view more data</li>
      </ul>
    </div>
    <div class="card-copy" ng-switch='card.link'>
      <span>since Jan 1, 2000 </span>
      <ol ng-switch-when='crimes'>
        <li ng-repeat='item in card.data | limitTo: 5'>{{item.Category}} ({{item.arrest_count}} arrests)</li>
      </ol>
      <ol ng-switch-when='players'>
        <li ng-repeat='item in card.data | limitTo: 5'> {{item.Position}}, {{item.Name}}, ({{item.arrest_count}} arrests)</li>
      </ol>
      <ol ng-switch-when='teams'>
        <li ng-repeat='item in card.data | limitTo: 80'>
       {{item.Team_name}} ({{item.arrest_count}} arrests)</li>
      </ol>
      <ol ng-switch-when='positions'>
        <li ng-repeat='item in card.data | limitTo: 5'>{{item.Position}} ({{item.arrest_count}} arrests)</li>
      </ol>
    </div>
  </div>

</div>